#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.pointer {
  cursor: pointer;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav a {
  margin: 0 1rem;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}


